body {
  font-family: Arial, Helvetica, sans-serif;
  color:$txt-color;
  background-color: $bg-color;
  
}

a:link, a:visited, a:active {
  color:$txt-highlight;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}